html{
    width: 100%;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
// font-family: 'Hind Siliguri', sans-serif;

body{
    width: 100;
    font-family: 'Hind Siliguri', sans-serif;
}

input[type=text],input[type=password],input[type=search],input[type=submit],input[type=button],button{
    min-height: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

// Button
button,input[type=submit]{
    @extend %button_simple;
    background-color: $color_primary;
    color: $color_text_dark_mode;

    &:hover{
        color: $color_text;
    }
}

// Like as Bootstrap
.content_wrap{
    display: flex;
    flex-direction: row;

    .sidebar_left{
        width: 30%;
    }

    .content{
        width: 60%;
    }
}

.nav_sidebar_li_bg{
    background-color: $color_menu_heading_li_bg;
}