 Global */
*{margin:0;padding:0;}
body{
	background-size: 100%;
	z-index: -99;
	background-position: center center;
	background-color: #282923;
}
.myform_ncb{
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.myform_ncb input{
	width: 220px;
	height: 35px;
	margin: 8px 0px;
	border: 1px solid #519EEB;
	background: transparent;
	padding: 1px 10px;
	border-radius: 3px;
	color: red;
	font-weight: normal;
	text-shadow: 6px 8px 7px #000;
	font-style: italic;
	box-shadow: 3px 5px 7px 2px #000;
}
.myform_ncb input[type=submit] {
	margin: 17px auto 0px auto !important;
	text-align: center;
	display: block;
	background: green;
	color: #fff;
	border: transparent;
	font-size: 17px;
	font-style: inherit;
	width: 50%;
}
.myform_ncb input[type="submit"]:hover{
	background: #f6fcf6;
	color: #000;
	cursor: pointer;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

/* Placeholder Design */
.myform_ncb input[type=text]::placeholder{
	color: #519EEB;
	font-style: italic;
}/*normal*/
.myform_ncb input[type=text]::-webkit-input-placeholder{
	color: #519EEB;
	font-style: italic;
}/*crome*/
.myform_ncb input[type=text]:-moz-placeholder{
	color: #519EEB;
	font-style: italic;
}/*mozila firefox 4-18*/
.myform_ncb input[type=text]::-moz-placeholder{
	color: #519EEB;
	font-style: italic;
}/*mozila firefox 19-50*/
.myform_ncb input[type=text]:-ms-input-placeholder{
	color: #519EEB !important;
	font-style: italic;
}/*IE 10-11 need every propery value !important*/
.myform_ncb input[type=text]::-ms-input-placeholder{
	color: #519EEB;
	font-style: italic;
}/*edge*/

/* responsive design */
@media screen and (max-width: 768px){
	body{
		background-size: 50%;
		background-position: top center;
	}
}