// Bangla Font
@font-face {
    font-family: 'SutonnyMJ';
    src: url('./../fonts/SutonnyMJ_Regular.ttf');
    src: url('./../fonts/SutonnyMJ_Bold.ttf');
    src: url('./../fonts/SutonnyMJ_Italic.ttf');
    src: url('./../fonts/SutonnyMJ_Bold_Italic.ttf');
}

// Ansi SutonnyMJ Regular Font
.SutonnyMJ{
    font-family: SutonnyMJ;
}